html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --orange: #FF9900;;
  --black: #000000;
  --white: #FFFFFF;
  --gray: rgba(202, 202, 202, 1);
  --red-orange:rgba(225, 103, 14, 1);
  --orange-light:#FFB84D;
}


@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
  url("../fonts/Montserrat-Regular.woff2") format("woff2"),
  url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
  url("../fonts/Montserrat-Medium.woff2") format("woff2"),
  url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
  url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
  url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
  url("../fonts/Montserrat-Bold.woff2") format("woff2"),
  url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
  url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
  url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

p,h2,h3,ul {
  margin: 0;
  padding: 0;
}

/* glob */

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.container-glob {
  max-width: 1920px;
  margin: 0 auto;
}


.section-desc {
  font-weight: 400;
  max-width: 1235px;
  width: 100%;
  font-size: 16px;
  line-height:200%;
  color: var(--black);
}

.btn-update {
  transition: background-color 0.4s ease-in-out;
}

.btn-update:hover {
  background-color:var(--orange-light);
}

.btn-update:focus {
  background-color:var(--orange-light);
  outline: none;
}

.btn-update:active {
  background-color:var(--red-orange);
}



/*header*/

header {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
  background-color: var(--white);
}


.header {
  justify-content: space-between;
  align-items: center;
  padding:14px 60px 14px 74px;
  margin-bottom: 47px;

}

.header-search {
  display: flex;
  position: absolute;
  right: 29px;
  width: 498px;
  padding: 15px;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transform: translateY(-220%);
  z-index: 10000;
  visibility: hidden;
  transition: transform 0.7s ease-in-out,visibility 0.7s ease-in-out;
}

.header-search__input {
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid var(--gray);
  width: 100%;
}

.header-search__loop {
  margin-right: 23px;
}

.header-search--active {
  transform: none;
  visibility: visible;
}

.header-search__closed--active {
  transform: none;
  z-index: 100000;
}

.header-search__closed {
  stroke: var(--gray);
  outline: none;
}

.header-search__closed svg {
  border: none;
}

.header-search__closed:hover, .header-search__closed:hover rect  {
  fill: var(--orange);
  stroke: var(--orange);
}

.header-search__closed:focus svg   {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.header-search__closed:active svg {
  outline: none;
}

.header-search__closed:active, .header-search__closed:active rect   {
  fill: var(--black);
  stroke: var(--black);
}

.header-search__closed, .header-search__closed rect {
  transition: fill 0.2s ease-in-out, stroke 0.1s ease-in-out;
}


.burger {
  display: none;
}

.header__logo {
  flex: 3.07;
}

.nav {
  flex: 1.25;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
}

.nav__list {
  align-self: end;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;

}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  border: 2px var(--orange) solid;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__item:focus {
  outline:2px solid var(--orange);
  outline-offset: 5px;
}


.nav__link:focus::after {
  opacity: 0;
}

.nav__link:active {
  color: var(--red-orange);
  outline: none;
}

.nav__link:active::after {
  border: 2px solid var(--red-orange) ;
  opacity: 1;
  outline: none;
}

.header__btn {
  flex: 1.1;
  text-align: end;
}

.nav-btn rect,.nav-btn path{
  transition: fill 0.4s ease-in-out, stroke 0.4s ease-in-out;
}


.nav-btn:hover rect {
  fill: var(--orange);
}

.nav-btn:hover path {
  stroke: var(--orange);
}



.nav-btn:focus {
  outline: 2px solid var(--orange) ;
  outline-offset: 5px;
}
.nav-btn:active svg{
  outline: none;
}
.nav-btn:active rect {
  fill: var(--orange);
  outline: none;
}

.nav-btn:active path {
  stroke: var(--orange);
}


  /*hero*/

.hero {
  min-height: 620px;
  margin-bottom: 50px;
}

.swiper.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.swiper-slide--one {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
.swiper-slide--two {
  background-image: url("../img/hero19202.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
.swiper-slide--three {
  background-image: url("../img/hero19203.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}


.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 23px var(--swiper-pagination-bullet-horizontal-gap, 9px);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--white);
}

.hero__content {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 100px 80px;
  min-height: 620px;
  flex-direction: column;
  align-items: flex-start;
}

.hero__text {
  max-width: 837px;
}

.hero__caption {
  margin: 0 0 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__desc {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;

}

.hero__btn {
  max-width: 280px;
  background-color: var(--orange);
  border-radius: 15px;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}



/*about*/

.about {
  margin-bottom: 100px;
}

.about-wrap {
  min-height: 622px;
}

.about__content {
  margin-bottom: 50px;
}

.about__caption {
  margin-bottom: 20px;

}


.left {
  background:url("../img/aboutleft.png") center center/cover no-repeat ;
  width: 50%;
  max-width: 868px;
  justify-content: space-between;
  flex-direction: column-reverse;
  border-radius: 32px;
  min-height: 622px;
  margin-right: 30px;
}

.left__content {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
}


.left__content-desc {
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
  color: #FFFFFF;
}

.left-btn {
  border: 3px solid var(--orange);
  border-radius: 16px;
  padding: 18px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  max-height: 60px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.left-btn:hover {
  color: var(--white);
  background-color:var(--orange);
}

.left-btn:focus {
  background-color:var(--orange);
  outline: none;
}

.left-btn:active {
  background-color:var(--red-orange);
  border: 3px solid var(--red-orange);
}

.right {
  width: 50%;
  flex-direction: column;
}

.right__top {
  background: url("../img/abouttop.png") 60px center/22% no-repeat ;
  margin-bottom: 32px;
}

.right__bottom {
  background:url("../img/aboutrightbottom.svg") 60px center/22%  no-repeat ;
}

.right__top,.right__bottom {
  display: flex;
  padding: 3.49vw 4.5vw 3vw 15.9vw;
  border: 1px solid var(--gray);
  border-radius: 32px;
}

.right__image {
  margin-right: 50px;
}

.right__caption {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
}


/*job*/

.job {
  margin-bottom: 111px;
}

.slider__choice {
  margin-bottom: 52px;
}

.slider__caption {
  margin-bottom: 47px;
}

.slider__list {
  gap:85px;
}

.slider__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.slider__btn-active {
  color: #E1670E;
}

.slider-item {
  display: none;
}

.slider-item--active {
  display: flex;
}

.slider__btn:not(:last-child) {
  margin-right: 86px;
}

.job-wrap__left {
  flex: 1;
  margin-right: 96px;
}

.left-caption {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #000000;
}

.job-wrap__btn-gold {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 19px 38px;
  background: rgba(255, 153, 0, 1);
  border-radius: 16px;
  color: #FFFFFF;
  margin-right: 32px;
}

.job-wrap__btn-dark {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 19px 38px;
  border: 1px solid var(--black);
  border-radius: 16px;
  color: var(--black);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.job-wrap__btn-dark:hover {
  background-color:#666666;
  color:var(--white);
  border-color: #666666;
}

.job-wrap__btn-dark:focus {
  background-color:#666666;
  color:var(--white);
  border-color: #666666;
  outline: none;
}

.job-wrap__btn-dark:active {
  background-color:var(--black);
  border-color:var(--black);
  color: var(--white);
}


.job-wrap__image {
  flex: 1.081;
  width: 100%;
  border-radius: 32px;
}

.job-wrap__image img {
  height: 100%;
  border-radius: 32px;
}

.job__wrap-margin {
  margin-bottom: 80px;
}

/*FAQ*/

.faq {
  margin-bottom: 105px;
}

.faq__caption {
  margin-bottom: 32px;
}


.faq__item-tittle {
  margin-right: 30px;
  font-weight: 700;
  font-size: 26px;
  line-height: 133%;
  color: var(--black);
}

.accordion .ac .ac-trigger::after {
  display: none;
}

.accordion .ac .is-active>.ac-header .ac-trigger::after {
  display: none;
}

.accordion .is-active svg {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  fill: var(--gray);
}

.accordion .ac {
  margin-top: 0;
  border: none;
}

.accordion .ac .ac-trigger {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  align-items: center;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: 30px 0 29px 0;

}

.ac-desc {
  width: 52.2%;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}


.faq__item-btn svg{
  fill: var(--gray);
  align-self: flex-start;
  max-width: 50px;
  width: 100%;
  min-height: 50px;
}


.faq__item-btn,.faq__item-btn svg,.faq__item-btn .faq__item-tittle,.faq__item-btn path,.accordion .ac{
  transition: color 0.2s ease-in-out,border-color 0.2s ease-in-out,fill 0.2s ease-in-out,transform 0.2s ease-in-out;
}

.faq__item-btn:hover path {
  fill: var(--white);
}

.faq__item-btn:focus path {
  fill: var(--white);
}

.faq__item-btn:active path {
  fill: var(--black);
}

.accordion .ac .ac-trigger:hover {
  border-color: var(--orange);

}

.accordion .ac .ac-trigger:focus {
  border-color: var(--orange);
}


.faq__item-btn:hover,.faq__item-btn:hover svg,.faq__item-btn:hover .faq__item-tittle {
  border-color: var(--orange);
  color: var(--orange);
  fill: var(--orange);
}




.faq__item-btn:focus, .faq__item-btn:focus svg,.faq__item-btn:focus .faq__item-tittle {
  border-color: var(--orange);
  color: var(--orange);
  fill: var(--orange);
  outline: none;
}

.faq__item-btn:active,.faq__item-btn:active .faq__item-tittle{
  border-color:var(--gray);
  color: var(--black);

}

.faq__item-btn:active svg {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  fill: var(--gray);
}





/*footer*/

footer {
  background-color: #000000;
  color: rgba(202, 202, 202, 1);

}

.footer-top {
  width: 100%;
  padding: 40px 75px;
  align-items: center;
  justify-content: space-between;
}


.footer-top__nav {
  width: 30%;
}

.footer-top__logo {
  margin-bottom: 17px;
}

.nav-list {
  margin-bottom: 90px;
}



.nav-list__item {
  width: max-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--gray);
}

.text-change {
  transition: color 0.4s ease-in-out;
}

.text-change:hover {
  color: var(--orange);
}


.text-change:active {
  color: var(--red-orange);
  outline: none;
}

.text-change:focus-visible {
  border: none;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.nav-list__item-link:focus {
  outline: none;
}


.footer-social {
  gap: 25px;
}

.footer-social svg {
  fill: #666666;
  transition: fill 0.4s ease-in-out;
}

.footer-social__link:hover svg{
  fill: var(--orange);
}

.footer-social__link:focus {
  outline: none;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.footer-social__link:active svg,.footer-social__link:active{
  fill: var(--red-orange);
  outline: none;
}

.footer-form {
  width: 41.5%;
  display: flex;
  flex-direction: column;
}


.form {
  flex-direction: column;
  width: 100%;
  max-width: 570px;
}

.form__label {
  display: flex;
  flex-direction: column;

}

.footer-form__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--gray);
  margin-bottom: 29px;
}

.form__input {
  background: #414141;
  border-radius: 16px;
  border: none;
  max-width: 570px;
  padding: 17px 24px;
  margin-bottom: 32px;
  color: var(--gray);
  transition:background-color 0.4s ease-in-out;
}

.form__placeholder::placeholder {
  color: var(--gray);
  transition: color 0.4s ease-in-out;
}

.form__input:hover {
  background-color: #666666;
  color: var(--gray);
}

.form__input:focus {
  background-color: #666666;
  color: var(--gray);
  outline: none;
}

.form__input:active {
  background-color: #666666;
  color: var(--gray);
  outline: none;
}

.form__placeholder:active::placeholder,.form__placeholder:active {
  color: var(--white);
}


.form-text {
  max-width: 570px;
  color: var(--white);
  background: #414141;
  padding: 14px 24px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.form__btn {
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  max-width: 269px;
  padding: 20px 55px;
  border-radius: 16px;
  align-self: center;
}

.footer-text {
  width: 20.5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--gray);
}

@media (max-width: 1200px) {
  .header__logo {
    margin-right: 15px;
  }

  .hero__content {
    padding: 58px 79px
  }

  .hero__desc {
    margin-bottom: 55px;
  }

  .about {
    margin-bottom: 79px;
  }

  .about-wrap {
    flex-direction: column;
  }

  .about__content {
    margin-bottom: 58px;
  }

  .left {
    width: 100%;
    max-width: none;
    margin-right: 0;
    min-height: 640px;
    margin-bottom: 32px;
  }

  .left__content-desc {
    margin-right: 30px;
  }

  .right {
    width: 100%;
  }

  .right__top, .right__bottom {
    padding: 65px 155px 65px 315px;
    background-position: 77px center;
    background-size: 20.5%;
  }

  .footer-text {
    display: none;
    line-height: 130%;
  }

}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }


  .nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: var(--white);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav .nav__list {
    flex-direction: column;
  }

  .nav .nav__item:first-child {
    margin-top: 100px;
  }

  .nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav .nav__link {
    font-size: 24px;
  }

  .nav--active {
    visibility: visible;
    transform: none;
  }

  .header {
    padding: 26px 50px 26px 50px;
    margin-bottom: 40px;
  }

  .swiper-wrapper img {
    min-height: 666px;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    z-index: 10000;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--black);
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }

  .burger:focus {
    outline: 2px solid var(--orange);
    outline-offset: 2px;
  }

  .burger:active {
    outline: none;
  }

  .burger:active .burger__line {
    background-color: #E1670E;
  }

  .burger--active .burger__line:nth-child(2) {
    transform: scale(0);
  }


  .burger--active .burger__line:first-child {
    left: 1%;
    top: 54%;
    transform: rotate(-45deg);
    transform-origin: 13px 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 3%;
    top: 54%;
    transform: rotate(45deg);
    transform-origin: 17px 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger__line:first-child {
    top:0;
  }

  .burger__line:nth-child(2) {
    opacity: 1;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }


  .burger__line:last-child {
    bottom: 0;
  }

  .header__logo {
    flex: none;
    width: 150px;
    height: 48px;
    margin-right: 0;
  }

  .header__btn {
    flex: none;

  }

  .hero {
    margin-bottom: 36px;
  }

  .hero__content {
    padding: 159px 79px;
  }

  .hero__caption {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 17px;
  }

  .hero__desc {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 61px;
  }

  .swiper-slide--one {
    background-image: url("../img/hero10241.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
  }
  .swiper-slide--two {
    background-image: url("../img/hero10242.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
  }
  .swiper-slide--three {
    background-image: url("../img/hero10243.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
  }


  .job {
    margin-bottom: 80px;
  }

  .slider__choice {
    margin-bottom: 51px;
  }

  .job-wrap__left {
    margin-right: 50px;
  }

  .job__wrap-margin {
    margin-bottom: 24px;
  }

  .job-wrap__btn-gold {
    margin-right: 27px;
  }

  .job-wrap__image {
    flex: 1;
  }

  .faq {
    margin-bottom: 81px;
  }

  .ac-desc {
    width: 77.2%;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
  }

  .faq__item-tittle {
    font-size: 22px;
    line-height: 140%;
    margin-right: 123px;
  }


  .footer-top {
    padding: 50px;
  }

  .footer-top__nav {
    width: 42%;
  }

  .footer-form {
    width: 59%;
  }

  .footer-form__caption {
    margin-bottom: 25px;
  }

  .form__input {
    padding: 22px 23px;
    margin-bottom: 21px;
  }

  .form__textarea {
    margin-bottom: 31px;
  }

  .form__btn {
    padding: 20px 42px;
  }

}

@media (max-width: 860px) {

  .hero__content {
    padding: 58px 79px;
  }

  .slider-item--active {
    flex-direction: column-reverse;
  }

  .job-wrap__image {
    margin-bottom: 35px;
  }

  .slider__list {
    justify-content: space-between;
    width: 100%;
  }

  .right__top, .right__bottom {
    padding: 65px 15px 65px 270px;
  }


}

@media (max-width: 768px) {

  .header {
    padding: 10px 50px;
  }

  .hero {
    margin-bottom: 35px;
  }

  .swiper-slide--one {
    background-image: url("../img/hero7681.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  }
  .swiper-slide--two {
    background-image: url("../img/hero7682.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  }
  .swiper-slide--three {
    background-image: url("../img/hero7683.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  }

  .hero__content {
    padding: 161px 42px;
  }

  .hero__caption {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__desc {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 59px;
  }

  .hero__btn {
    padding:25px 37px;
  }

  .about {
    margin-bottom: 75px;
  }

  .about__content {
    margin-bottom: 52px;
  }

  .left {
    min-height: 650px;
  }

  .left__content {
    padding: 34px 40px;
  }


  .right__top, .right__bottom {
    padding: 33px 47px 38px 167px;
    background-size: 17%;
    background-position: 39px center;
  }

  .slider__list {
    justify-content: space-between;
    width: 100%;
  }

  .job {
    margin-bottom: 50px;
  }

  .slider-item--active {
    flex-direction: column-reverse;
  }

  .job-wrap__image {
    margin-bottom: 35px;
  }

  .job-wrap__left {
    margin-right: 0;
  }

  .faq {
    margin-bottom: 111px;
  }

  .ac-desc {
    width: 85%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }

  .faq__item-tittle {
    margin-right: 48px;
    line-height: 144%;
  }

  .nav-list {
    display: none;
  }

  .footer-top {
    flex-direction: column-reverse;
  }

  .footer-top__nav {
    align-self: flex-start;
  }

  .footer-form {
    width: 100%;
  }

  .form__input {
    max-width: 542px;
  }

  .form__btn {
    display: flex;
    margin-right: 30px;
    padding: 19px 41px;
    margin-bottom: 50px;
  }

}

@media (max-width: 636px) {

  .hero__content {
    padding: 91px 42px;
  }

  .header-search {
    width: 463px;
  }

}

@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 0;
  }

  .nav {
    padding: 50px 21px;
    width: 100%;
    border-radius: 0 0 16px 16px;
  }

  .nav .nav__item:first-child {
    margin-top: 50px;
  }

  .nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .nav .nav__link {
    font-size: 16px;
  }


  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 7px var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }

  .header {
    padding: 17px 15px;
    margin-bottom: 31px;
  }

  .header__logo {
    width: 110px;
    height: 34px;
  }

  .header-search {
    width: 320px;
    padding-bottom: 21px;
    border-radius: 0 0 24px 24px;
    right: 0;
  }

  .nav-btn {
    align-self: end;
  }

  .hero {
    min-height: 308px;
    margin-bottom: 59px;
  }

  .hero__content {
    min-height: 308px;
  }

  .swiper-slide--one {
    background-image: url("../img/hero3201.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
  .swiper-slide--two {
    background-image: url("../img/hero3202.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
  .swiper-slide--three {
    background-image: url("../img/hero3203.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
  }

  .hero__caption {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    text-align: center;
  }

  .hero__content {
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
  }

  .hero__desc {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 33px;
    text-align: center;

  }

  .hero__btn {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 13px 28px;
    border-radius: 8px;
    align-self: center;
  }

  .section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .section-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__content {
    margin-bottom: 16px;
    border-radius: 16px;
  }

  .left {
    position: relative;
    margin-bottom: 223px;
    min-height: 200px;
    border-radius: 16px;
    background-position: inherit;

  }

  .left__content-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-right: 0;
    margin-bottom: 13px;
    padding: 0;
    color: var(--black);
  }

  .left__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0;
    top: 205px;
    width: 100%;
    border-radius: 0;
    background: var(--white);
  }


  .right__top, .right__bottom {
    background-position: left top;
    background-size:  67px 54px;
    padding: 64px 0 0;
    border: none;
  }

  .right__top {
    margin-bottom: 30px;

  }

  .right__caption {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .left-btn {
    width: 162px;
    height: 39px;
    padding: 8px 40px;
    border-radius: 8px;
    color: var(--orange);
    text-align: center;
    align-self: baseline;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

  }

  .slider__choice {
    margin-bottom: 14px;
  }

  .slider__caption {
    margin-bottom: 20px;
  }

  .slider__list {
    gap: 45px;
  }

  .slider__btn {
    font-size: 13px;
    line-height: 17px;
  }

  .job-wrap__image {
    margin-bottom: 13px;
  }

  .job-wrap__image img {
    min-height: 160px;
    border-radius: 16px;
  }

  .left-caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .job-wrap__btn {
    display: flex;
  }

  .job-wrap__btn-gold {
    height: 39px;
    margin-right: 10px;
    padding: 12px 44px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .job-wrap__btn-dark {
    padding: 12px 31px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .job {
    margin-bottom: 58px;
  }

  .faq {
    margin-bottom: 57px;
  }

  .faq__item-tittle {
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__caption {
    margin-bottom: 16px;
  }

  .ac__text {
    width: 159%;
    margin-right: 35px;
  }

  .ac-desc {
    width: 100%;
    font-weight: 400;
    font-size: 9px;
    line-height: 150%;
  }


  .faq__item-btn svg {
    align-self: center;
    width: 20%;
    height: 30px;
  }

  .footer-top {
    padding: 30px 14px;
  }

  .footer-form__caption {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .form__placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .form {
    border-bottom: 1px solid #414141;
  }

  .form__input {
    padding: 15px 23px;
  }

  .form__textarea {
    height: 150px;
    margin-bottom: 30px;
  }

  .form__btn {
    align-self: center;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 11px 30px 9px 25px;
    border-radius: 8px;
    margin-right: 0;
  }

  .footer-top__nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  .footer-top__logo {
    padding-top: 17px;
  }

  .footer-social {
    gap: 15px;
  }

  .footer-social svg {
    width: 40px;
    height: 40px;
  }


}

